.title-prod {
    font-family: 'Hammersmith One', sans-serif;
    color: #b38269;
    padding-top: 30px;


}

.prod-t {
    text-transform: uppercase;
    color: #A97155;
    padding-bottom: 20px;
    float: center;
    margin-left: 300px;

}

.cat-filter {
    border: 1px solid #A97155;
    background: transparent;
}

.button-cat {
    border: 2px solid #b38269;
    background: transparent;
    width: 200px;
    margin-left: 10px;
    /* Adjust the right margin as needed */
    border-radius: 20px;
    display: inline-block;
    /* Ensure the buttons are displayed in a line */
    color: #8e5f47;
    font-family: 'Open Sans', sans-serif;
}

.button-cat:hover {
    background: #ffcc80;
    /* Adjust the color to fit your design */
    color: #8e5f47;
}

.resett {
    border: 2px solid #b38269;
    color: #8e5f47;
    background: transparent;
    float: right;
    margin-left: 10px;
    /* Add a small left margin if needed */
    border-radius: 10px;
    margin-top: 50px;
    width: 100px;
    font-family: 'Open Sans', sans-serif;
}

.resett:hover {
    background: #e57373;
    /* Desaturated red */
    color: #fae2d6;
}

.price-des {
    border: 2px solid #b38269;
    /* color: #8e5f47; */
    background: transparent;
    border-radius: 15px;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    margin-left: 10px;

}

.price-des::placeholder {
    text-align: center;
    color: #8e5f47;
}

.prodcard-JSON {
    border: 2px solid #b38269;
    height: 500px;
    width: 255px;
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), box-shadow 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}


.prodcard-JSON:hover {
    transform: scale(1.06); /* Adjust the scaling factor as needed for the pop effect */
    box-shadow: 0 0 20px #d7bdb0; /* Adjust the box shadow as needed */
}

.product-image {
    height: 200px; /* Adjust the height as needed */
}

.card-des {

    border-top: 1.5px solid #8e5f47;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.card-title-des {
    padding-bottom: 20px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 500;
    text-align: center !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star-rating-des {
    color: #e7bd3e;
    font-size: 25px;
    align-self: center;
    /* Add some bottom margin for spacing */
    display: flex;
    justify-content: center;
}

.card-price-des {
    font-weight: 400;
    color: #d64f3a;
    font-size: 25px;
    font-family:'Hammersmith One', sans-serif;
    text-align: center;
    margin-bottom: -5px; /* Adjust as needed */
}

.card-des {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    align-self: center;
    margin-top: auto; /* Move the price to the bottom */
    margin-bottom: -5px; /* Adjust as needed */
}

.json-button {
    width: 200px;
    background-color: #8e5f47;
    color: whitesmoke;
    margin-bottom: 10px;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
}

.button-container {
    margin-top: auto;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.json-button:hover {
    background-color: #e7bd3e;
    color: #8e5f47;
}
