.JsonFooter
{
    background-color: #A97155;
    color: #FAF8F1;
    padding: 1px 0;

}

.text-Json
{
font-family: Roboto, Arial, Helvetica, sans-serif;
}

.text-header-Json
{
    font-weight: 700;
    font-family: monospace;
}
.JsonHeader
{
    background-color: #A97155;
    color: #FAF8F1;
    

}

.Json-BTN
{

    background-color: #E4D1B9 !important;
    color:#8e5f47 !important;
    font-family: 'Hammersmith One', sans-serif !important;
    border:  2px solid   #978671;
}

.Json-Login-Form
{
    background-color: #E4D1B9 !important;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color:#A97155 !important;
}

.Json-Login-BTN
{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color:#A97155 !important;
    color: #FAF8F1 !important;

}

.Json-Register-Form
{
    background-color: #E4D1B9 !important;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color:#A97155 !important;
}

.Json-Register-BTN
{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color:#A97155 !important;
    color: #FAF8F1 !important;

}




.sidebar-JSON
{
    width: 245px;
    container: center;
    text-align: center;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color:#A97155 !important;
    
    
}

.dashboard-category
{
    background: linear-gradient(to bottom, #F8DE22, #F11A7B);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(241, 233, 233, 0.3);
    text-align: center;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.dashboard-product
{
    background: linear-gradient(to bottom, #00FFD1, #40128B);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(241, 233, 233, 0.3);
    text-align: center;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.dashboard-user
{
    background: linear-gradient(to bottom, #f7ff59, #477027);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(241, 233, 233, 0.3);
    text-align: center;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
.dashboard-title
{

    font-weight: 700;
    font-family: monospace;
    color:#A97155 !important;
    text-transform: uppercase;
    text-align: center;
}

.sidebar-dashboard
{
    background-color: #8e5f47 !important;
    color: #FAF8F1;
}

.list-group-item:hover{
    background-color: #F8DE22 !important;
    color: #8e5f47;
}

.short-input {
    width: 100px; 
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .carousel-item {
    height: 500px; 
    width: 600px; 
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .carousel-item img {
    object-fit: contain; 
    height: 100%; 
    width: 100%;
  }