.JsonFooter
{
    background-color: #A97155;
    color: #FAF8F1;
    padding: 1px 0;

}

.text-Json
{
font-family: Roboto, Arial, Helvetica, sans-serif;
}

.text-header-Json
{
    font-weight: 700;
    font-family: monospace;
}
.JsonHeader
{
    background-color: #A97155;
    color: #FAF8F1;
    

}

.Json-BTN
{

    background-color: #E4D1B9 !important;
    color:#A97155 !important;
}

.Json-Login-Form
{
    background-color: #E4D1B9 !important;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color:#A97155 !important;
}

.Json-Login-BTN
{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color:#A97155 !important;
    color: #FAF8F1 !important;

}

.Json-Register-Form
{
    background-color: #E4D1B9 !important;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color:#A97155 !important;
}

.Json-Register-BTN
{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color:#A97155 !important;
    color: #FAF8F1 !important;

}