.title-crud
{
    font-family: 'Hammersmith One', sans-serif;
    color: #A97155 !important;
    text-transform: uppercase;
    padding-bottom: 40px;

}

.text-crud
{
    font-family: 'Hammersmith One', sans-serif;
    color: #A97155 !important;
    text-transform: capitalize;
    
}

table.text-crud
{
    font-family: 'Hammersmith One', sans-serif;
    color: #A97155 !important;
    text-transform: capitalize;
    
}

.btn-crud
{
    
    color: #A97155;
    background-color:#E4D1B9;
    border: 1px solid #A97155; 
    padding: 10px 20px; /* Add padding for better appearance */
   
}